TG_API_ID=12345678
TG_API_HASH=your_api_hash
TG_SESSION_NAME=vpn_userbot
TG_SESSION_STRING=
VPN_SOURCE_CHANNELS=@channel_one,@channel_two
VPN_CHANNEL_MESSAGE_LIMIT=50
GITHUB_VLESS_RAW_URL=
VPN_SUBSCRIPTION_OUTPUT=vless_subscription.txt
VPN_GIT_COMMIT_MESSAGE=Update VLESS subscription
