TG_API_ID=12345678
TG_API_HASH=your_api_hash
TG_SESSION_NAME=vpn_userbot
TG_SESSION_STRING=
VPN_SOURCE_CHANNELS=
VPN_CHANNEL_MESSAGE_LIMIT=50
GITHUB_VLESS_RAW_URL=
GITHUB_VLESS_RAW_URLS=https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/Vless-Reality-White-Lists-Rus-Mobile-2.txt,https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/Vless-Reality-White-Lists-Rus-Mobile.txt,https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/WHITE-CIDR-RU-checked.txt,https://raw.githubusercontent.com/Temnuk/naabuzil/refs/heads/main/Svoboda,https://raw.githubusercontent.com/zieng2/wl/main/vless_lite.txt,https://raw.githubusercontent.com/ERRORQSFG/fuckwhitelists/refs/heads/main/sub.txt,https://raw.githubusercontent.com/VPN-cat/VPN/refs/heads/main/configs/VPN-cat-top-25,https://raw.githubusercontent.com/prominbro/sub/refs/heads/main/212.txt,https://raw.githubusercontent.com/RKPchannel/RKP_bypass_configs/refs/heads/main/configs/url_work.txt
VPN_SUBSCRIPTION_OUTPUT=vless_subscription.txt
VPN_SUBSCRIPTION_OUTPUT_LTE=vless_lte.txt
VPN_SUBSCRIPTION_OUTPUT_WIFI=vless_wifi.txt
VPN_GIT_COMMIT_MESSAGE=Update VLESS subscription
URL_TEST_TARGET=http://www.gstatic.com/generate_204
